{% extends 'blog/index.html' %}
	
{% block content %}

	<section class="section" style="text-align: center; height: auto; min-height: 100vh;">
		<div class="conainer">
			<div style="margin-top: 30px; border:solid;">
				<p style="font-size: 24px;">Hi, I will be happy to connet to you:</p>
				<br>
				
				<br>
				<p style="font-family:helvetica; font-size: 20px;">Please write a mail to me <a href="mailto:bhaskarpandey003@gmail.com">here</a></p>
				<br>
				
				<p style="font-size: 20px"> Or </p>
				
				<br>
				<p style="font-family: arial; font-size: 20px;">Connect to me through my fb page using messanger <br> or whatsapp option
					<a href="https://www.facebook.com/bhaskarpandey806/">
						here
					</a>
				</p>
				<br>
			</div>
			
		</div>
	</section> 


{% endblock %}

  <!-- <form method="POST" style="padding:12px">{% csrf_token %}
			<h4 style="text-align: center;">Contact me here</h4>
				{{ form.as_p }}
			<button type="submit">send</button>
		</form> -->

	


<!-- is-link -->