{% extends 'blog/index.html' %}
	

<!-- this will list musings on musings -->
	{% block content %}
		<section class="section" style="background-color: rgb(244,248,252); min-height: 100vh;">
			<div class="columns is-multiline">
				{% for post in posts %}
					<div class="column is-one-third" style="text-align: center;">
					
						<div class="card box box-shadow-lift" style="height: 100%;display: flex; flex-direction: column; padding: 0.8rem;">
	  						<style >
	  							.card:hover{
	  								box-shadow: 1px 8px 20px grey;
	  							}
	  						</style>

							{%if post.image%}
			  					<div class="card-image">
		  							
									<figure class="image is-4by3">
		  								<img src="{{ post.image.url}}" alt="{{ post.title }}">
									</figure>
		  				
		  						</div>
	      					{%endif%}
			  		
			  				<div class="card-content">

			  					<!-- <p class="title is-3" ><a href="{% url 'blog:post_detail' post.slug %}">{{post.title}}</a></p> 

				        		<p class="subtitle" style="font-size: 15px;">{{post.created_on}}</p>
				        		<p>{{post.content|safe|slice:":200"}}</p>

				        		<p style="margin-top:2rem"><a href="{%url 'blog:post_detail' post.slug %}">continue reading...</a></p>  -->

			      			</div>
			      			<footer class="card-footer" style="margin-top:auto">
		    					<p class="card-footer-item">
		      						<span>Share on<br> <a href="whatsapp://send?text=https://bhashadiaries.pythonanywhere.com/blog/{{post.slug}}/">Whatsapp</a></span>
		      					</p>
		    					<p class="card-footer-item">
		      						<span> Share on<br> <a href="https://www.facebook.com/sharer/sharer.php?u=https://bhashadiaries.pythonanywhere.com/blog/{{post.slug}}/" target="_blank">Facebook</a></span>
		      					</p>

		      					<p class="card-footer-item">
		      						<span> Share on<br> <a href="https://twitter.com/intent/tweet?text=https://bhashadiaries.pythonanywhere.com/blog/{{post.slug}}/" target="_blank">Twitter</a></span>
		      					</p>
		  					</footer>

			  			</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endblock content %}


