{%extends 'blog/index.html' %}

{% block content %}
	
	<section class="section" style="background-color: rgb(244,248,252); text-align: center; min-height: 100vh;">
		<div class="container">
			<article class="article">
				<p class="title is-3">{{posts.title}}</p>
				<p class="subtitle is-6">{{posts.created_on}}</p>
				<p>{{posts.content|safe}} </p>
			</article>

			<!-- sharing on social media starts here -->
			<p style="margin-top: 50px"><span style="font-style: bold; font-size: 24px"> Share On:</span> 
				<!-- whatsapp sharing code starts here -->
				<a href="whatsapp://send?text=https://bhashadiaries.pythonanywhere.com/thoughtsdetail/{{posts.slug}}/">
					<i class="fab fa-whatsapp-square fa-2x"></i>
				</a>
				<!-- whatsapp sharing code ends here -->

				<a href="https://www.facebook.com/sharer/sharer.php?u=https://bhashadiaries.pythonanywhere.com/thoughtsdetail/{{posts.slug}}/" target="_blank">
 					<i class="fab fa-facebook fa-2x"></i>
				</a>

				<a href="https://twitter.com/intent/tweet?text=https://bhashadiaries.pythonanywhere.com/thoughtsdetail/{{posts.slug}}/" target="_blank">
 					<i class="fab fa-twitter-square fa-2x"></i>
				</a>
			</p>
			<!-- sharing on social media code ends here -->
			
			<hr style="border: 1px solid black; margin:60px 0 30px 0">

			<h3 class="title is-4">Leave a comment:</h3>

		<!-- fb comment integrations -->
			<div class="fb-comments" data-href="https://bhashadiaries.pythonanywhere.com/story/detail/{{posts.slug}}/" data-numposts="5" data-width=""></div>

		<!-- fb integration ends here -->

		<!-- comment made by me starts here -->
			<!-- <form action="{% url 'thoughts:thoughts_detail' posts.slug %}" method="post">{% csrf_token %}

				<div class="control" style="text-align: center;">
					{% for field in form %}
						<label class="label">{{field.label_tag}}</label>
						{{field}}
					{% endfor %}
				</div>
		        
		        <div class="control" style="text-align: center;">
	    			<button class="button is-primary">Submit</button>
	  			</div>
	 
	    	</form>

	    	<h3 class="title is-4">Comments:</h3>
		    {% for comment in comments %}
			    <p>
			        On {{comment.created_on }}&nbsp;
			        <b>{{ comment.name }}</b> wrote:
			    </p>
			    <p>{{ comment.body }}</p>
			    <br>
		    {% endfor %} -->
		    
		<!-- comment made by me ends here -->

		</div>
	</section>
{% endblock %}